# Gradle / Java
.gradle/
build/
out/
target/
*.iml
.idea/
.vscode/
*.log
.env

# MySQL/DB (no versionar)
data_mysql/
mysql_data/
*.sock
*.pid
*.tmp
*.err
*.cnf

# Compilados y artefactos locales
bin/
uploads/
backups/
tmp_index_utf8.html
1printer-api/node_modules/
